processed_data/derived_basins/*
processed_data/pour_points/*
processed_data/processed_dem/*
processed_data/pour_points/*
processed_data/basin_properties/*
img/fdir_confluence_finder/

processed_data/merged_basin_groups/region_polygons/*

source_data/dem_data/*

.ipynb_checkpoints/

*-draft.md

*.qgz

processed_data/fdir_vector_layer.geojson